@charset "UTF-8";

/*mensagem de validação do formulários de login*/
.autenticacao > form > .form-group > div > ul
{
    list-style: none !important;
    color: #fff !important;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 3px;
}

/*mensagem de validação dos formulários*/
.form-group > div > ul,
.campo-form > div > ul
{
    list-style: none !important;
    color: #8b0000 !important;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 3px;
}
.widget.saldo-atual-index
{
    min-height:0px !important;
}
.saldo-atual-index > .widget-title
{
    text-transform: none !important;
}
.saldo-atual-index > .widget-int
{
    font-size: 25px !important;
}

.margin-bottom-15{
    margin-bottom: 15px;
}